-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: pro1
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `driver`
--

DROP TABLE IF EXISTS `driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver` (
  `driverID` int NOT NULL,
  `name` varchar(50) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `Longtitude` decimal(10,6) DEFAULT NULL,
  `Latitude` decimal(10,6) DEFAULT NULL,
  `current_lat` decimal(10,6) DEFAULT NULL,
  `current_long` decimal(10,6) DEFAULT NULL,
  `status` enum('available','busy','offline') DEFAULT 'offline',
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `h3_8` varchar(20) DEFAULT NULL,
  `h3_9` varchar(20) DEFAULT NULL,
  `h3_10` varchar(20) DEFAULT NULL,
  `h3_11` varchar(20) DEFAULT NULL,
  `h3_12` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`driverID`),
  KEY `idx_driver_h3_9` (`h3_9`),
  KEY `idx_driver_h3_8` (`h3_8`),
  KEY `idx_driver_h3_10` (`h3_10`),
  KEY `idx_driver_h3_11` (`h3_11`),
  KEY `idx_driver_h3_12` (`h3_12`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver`
--

LOCK TABLES `driver` WRITE;
/*!40000 ALTER TABLE `driver` DISABLE KEYS */;
INSERT INTO `driver` VALUES (1,'寮犱笁','13800138000',116.348658,39.998075,39.998075,116.348658,'available','2025-04-15 12:35:49',NULL,NULL,NULL,NULL,NULL),(2,'鏉庡洓','13800138001',116.315227,39.959951,39.959951,116.315227,'available','2025-04-15 12:35:49',NULL,NULL,NULL,NULL,NULL),(3,'鐜嬩簲','13800138002',116.310700,39.992591,39.992591,116.310700,'available','2025-04-15 12:35:49',NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `driver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver_history_stats`
--

DROP TABLE IF EXISTS `driver_history_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_history_stats` (
  `driver_id` int NOT NULL,
  `total_orders` int DEFAULT '0',
  `completed_orders` int DEFAULT '0',
  `cancelled_orders` int DEFAULT '0',
  `avg_rating` decimal(3,2) DEFAULT '0.00',
  `avg_response_time` int DEFAULT '0',
  `h3_index` varchar(15) NOT NULL,
  `time_slot` int NOT NULL,
  `service_count` int DEFAULT '0',
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`driver_id`,`h3_index`,`time_slot`),
  KEY `fk_dhs_h3` (`h3_index`),
  CONSTRAINT `fk_dhs_driver` FOREIGN KEY (`driver_id`) REFERENCES `driver` (`driverID`),
  CONSTRAINT `fk_dhs_h3` FOREIGN KEY (`h3_index`) REFERENCES `h3_grid` (`h3_index`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver_history_stats`
--

LOCK TABLES `driver_history_stats` WRITE;
/*!40000 ALTER TABLE `driver_history_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `driver_history_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `h3_grid`
--

DROP TABLE IF EXISTS `h3_grid`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `h3_grid` (
  `h3_index` varchar(15) NOT NULL,
  `center_long` decimal(10,6) DEFAULT NULL,
  `center_lat` decimal(10,6) DEFAULT NULL,
  `resolution` int DEFAULT NULL,
  `traffic_flow` int DEFAULT '0',
  `demand_count` int DEFAULT '0',
  `supply_count` int DEFAULT '0',
  `weight` decimal(5,2) DEFAULT '1.00',
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`h3_index`),
  KEY `idx_supply_demand` (`supply_count`,`demand_count`),
  KEY `idx_traffic_flow` (`traffic_flow`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `h3_grid`
--

LOCK TABLES `h3_grid` WRITE;
/*!40000 ALTER TABLE `h3_grid` DISABLE KEYS */;
/*!40000 ALTER TABLE `h3_grid` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `minitrack`
--

DROP TABLE IF EXISTS `minitrack`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `minitrack` (
  `id` int NOT NULL AUTO_INCREMENT,
  `driverID` int NOT NULL,
  `Longtitude` decimal(10,6) DEFAULT NULL,
  `Latitude` decimal(10,6) DEFAULT NULL,
  `Recetime` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_minitrack_driver` (`driverID`),
  CONSTRAINT `fk_minitrack_driver` FOREIGN KEY (`driverID`) REFERENCES `driver` (`driverID`)
) ENGINE=InnoDB AUTO_INCREMENT=349 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `minitrack`
--

LOCK TABLES `minitrack` WRITE;
/*!40000 ALTER TABLE `minitrack` DISABLE KEYS */;
/*!40000 ALTER TABLE `minitrack` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order`
--

DROP TABLE IF EXISTS `order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order` (
  `Orderid` int NOT NULL AUTO_INCREMENT,
  `driverID` int NOT NULL,
  `Passengerid` int DEFAULT NULL,
  `StartTime` datetime DEFAULT NULL,
  `Price` decimal(10,2) DEFAULT NULL,
  `Distance` decimal(10,2) DEFAULT NULL,
  `status` enum('pending','matching','accepted','in_progress','completed','cancelled') DEFAULT 'pending',
  `matching_time` timestamp NULL DEFAULT NULL,
  `accept_time` timestamp NULL DEFAULT NULL,
  `estimated_arrival_time` timestamp NULL DEFAULT NULL,
  `actual_arrival_time` timestamp NULL DEFAULT NULL,
  `start_h3` varchar(15) DEFAULT NULL,
  `end_h3` varchar(15) DEFAULT NULL,
  `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Orderid`),
  KEY `Passengerid` (`Passengerid`),
  KEY `fk_order_start_h3` (`start_h3`),
  KEY `fk_order_end_h3` (`end_h3`),
  KEY `fk_driver` (`driverID`),
  CONSTRAINT `fk_driver` FOREIGN KEY (`driverID`) REFERENCES `driver` (`driverID`),
  CONSTRAINT `fk_order_end_h3` FOREIGN KEY (`end_h3`) REFERENCES `h3_grid` (`h3_index`),
  CONSTRAINT `fk_order_start_h3` FOREIGN KEY (`start_h3`) REFERENCES `h3_grid` (`h3_index`),
  CONSTRAINT `order_ibfk_2` FOREIGN KEY (`Passengerid`) REFERENCES `passenger` (`passengerid`)
) ENGINE=InnoDB AUTO_INCREMENT=5013 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order`
--

LOCK TABLES `order` WRITE;
/*!40000 ALTER TABLE `order` DISABLE KEYS */;
/*!40000 ALTER TABLE `order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_matching_score`
--

DROP TABLE IF EXISTS `order_matching_score`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_matching_score` (
  `match_id` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `driver_id` int NOT NULL,
  `total_score` decimal(5,2) DEFAULT '0.00',
  `distance_score` decimal(5,2) DEFAULT '0.00',
  `time_score` decimal(5,2) DEFAULT '0.00',
  `history_score` decimal(5,2) DEFAULT '0.00',
  `traffic_score` decimal(5,2) DEFAULT '0.00',
  `spatial_distance` decimal(10,2) DEFAULT NULL,
  `estimated_time` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`match_id`),
  KEY `idx_order_score` (`order_id`,`total_score`),
  KEY `fk_oms_driver` (`driver_id`),
  CONSTRAINT `fk_oms_driver` FOREIGN KEY (`driver_id`) REFERENCES `driver` (`driverID`),
  CONSTRAINT `fk_oms_order` FOREIGN KEY (`order_id`) REFERENCES `order` (`Orderid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_matching_score`
--

LOCK TABLES `order_matching_score` WRITE;
/*!40000 ALTER TABLE `order_matching_score` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_matching_score` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_route`
--

DROP TABLE IF EXISTS `order_route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_route` (
  `order_id` int NOT NULL,
  `sequence_no` int NOT NULL,
  `edge_id` bigint DEFAULT NULL,
  PRIMARY KEY (`order_id`,`sequence_no`),
  KEY `edge_id` (`edge_id`),
  CONSTRAINT `order_route_ibfk_2` FOREIGN KEY (`edge_id`) REFERENCES `road_edges` (`edge_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_route`
--

LOCK TABLES `order_route` WRITE;
/*!40000 ALTER TABLE `order_route` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passenger`
--

DROP TABLE IF EXISTS `passenger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passenger` (
  `passengerid` int NOT NULL,
  `passengername` varchar(50) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `Longtitude` decimal(10,6) DEFAULT NULL,
  `Latitude` decimal(10,6) DEFAULT NULL,
  `current_lat` decimal(10,6) DEFAULT NULL,
  `current_long` decimal(10,6) DEFAULT NULL,
  `status` enum('available','busy','offline') DEFAULT 'offline',
  `last_update` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `h3_8` varchar(20) DEFAULT NULL,
  `h3_9` varchar(20) DEFAULT NULL,
  `h3_10` varchar(20) DEFAULT NULL,
  `h3_11` varchar(20) DEFAULT NULL,
  `h3_12` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`passengerid`),
  KEY `idx_passenger_h3_9` (`h3_9`),
  KEY `idx_passenger_h3_8` (`h3_8`),
  KEY `idx_passenger_h3_10` (`h3_10`),
  KEY `idx_passenger_h3_11` (`h3_11`),
  KEY `idx_passenger_h3_12` (`h3_12`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passenger`
--

LOCK TABLES `passenger` WRITE;
/*!40000 ALTER TABLE `passenger` DISABLE KEYS */;
INSERT INTO `passenger` VALUES (1001,'璧靛叚','13900139000',116.321197,39.894714,39.894714,116.321197,'available','2025-04-15 12:35:51',NULL,NULL,NULL,NULL,NULL),(1002,'瀛欎竷','13900139001',116.323432,39.943822,39.943822,116.323432,'available','2025-04-15 12:35:51',NULL,NULL,NULL,NULL,NULL),(1003,'鍛ㄥ叓','13900139002',116.443193,39.921422,39.921422,116.443193,'available','2025-04-15 12:35:51',NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `passenger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `road_edges`
--

DROP TABLE IF EXISTS `road_edges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `road_edges` (
  `edge_id` bigint NOT NULL,
  `start_node_id` bigint DEFAULT NULL,
  `end_node_id` bigint DEFAULT NULL,
  `distance` decimal(10,2) DEFAULT NULL,
  `speed_limit` int DEFAULT NULL,
  `road_type` varchar(50) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`edge_id`),
  KEY `start_node_id` (`start_node_id`),
  KEY `end_node_id` (`end_node_id`),
  CONSTRAINT `road_edges_ibfk_1` FOREIGN KEY (`start_node_id`) REFERENCES `road_nodes` (`node_id`),
  CONSTRAINT `road_edges_ibfk_2` FOREIGN KEY (`end_node_id`) REFERENCES `road_nodes` (`node_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `road_edges`
--

LOCK TABLES `road_edges` WRITE;
/*!40000 ALTER TABLE `road_edges` DISABLE KEYS */;
/*!40000 ALTER TABLE `road_edges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `road_nodes`
--

DROP TABLE IF EXISTS `road_nodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `road_nodes` (
  `node_id` bigint NOT NULL,
  `lat` decimal(10,6) NOT NULL,
  `lon` decimal(10,6) NOT NULL,
  `h3_index` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`node_id`),
  KEY `h3_index` (`h3_index`),
  CONSTRAINT `road_nodes_ibfk_1` FOREIGN KEY (`h3_index`) REFERENCES `h3_grid` (`h3_index`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `road_nodes`
--

LOCK TABLES `road_nodes` WRITE;
/*!40000 ALTER TABLE `road_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `road_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taxi`
--

DROP TABLE IF EXISTS `taxi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taxi` (
  `Taxiid` int NOT NULL,
  `Taxitype` varchar(50) NOT NULL,
  `driverID` int DEFAULT NULL,
  PRIMARY KEY (`Taxiid`),
  KEY `driverID` (`driverID`),
  CONSTRAINT `taxi_ibfk_1` FOREIGN KEY (`driverID`) REFERENCES `driver` (`driverID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taxi`
--

LOCK TABLES `taxi` WRITE;
/*!40000 ALTER TABLE `taxi` DISABLE KEYS */;
/*!40000 ALTER TABLE `taxi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `time_slot_stats`
--

DROP TABLE IF EXISTS `time_slot_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `time_slot_stats` (
  `h3_index` varchar(15) NOT NULL,
  `time_slot` int NOT NULL,
  `avg_demand` int DEFAULT '0',
  `avg_supply` int DEFAULT '0',
  PRIMARY KEY (`h3_index`,`time_slot`),
  CONSTRAINT `time_slot_stats_ibfk_1` FOREIGN KEY (`h3_index`) REFERENCES `h3_grid` (`h3_index`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `time_slot_stats`
--

LOCK TABLES `time_slot_stats` WRITE;
/*!40000 ALTER TABLE `time_slot_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `time_slot_stats` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-21 23:30:21
